---
layout: default
---
{% assign sections = site.sections | sort: 'value' %}

 <!-- home section -->
 <div class="section">
   <h1 class="dark-blue">everything tells a story</h1>
   {% for section in sections %}
     <a href="#" class="item" data-src={{ section.value }}><img class="image_scaler_home" src={{ section.image }} ></a>
   {% endfor %}
 </div>

<!-- all sections -->
{% for section in sections %}
  {% if section.image-orientation == 'left' %}
  <div class="section purple">
  {% else %}
  <div class="section yellow">
   {% endif %}

  <!-- slide -->
  <div class="slide">

        <!-- header -->
        <div class="container section-header">
          <a href="/"><img class="image_scaler_section" src={{ section.image }} alt={{ section.value }}></a>
          {% if section.image-orientation == 'left' %}
            <i class="material-icons light-blue">menu</i>
          {% else %}
            <i class="material-icons red">menu</i>
          {% endif %}
        </div>


        <!-- body -->
        <div class="section-body-container">
        {% if section.image-orientation == 'left' %}
          <img class="first-image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=700x500&w=700&h=500">
          <!-- {{ section.first_image }} -->
          <div class="section-text-container">
            <h4 class="section-text-header light-blue">{{ section.title }}</h4>
            <div class="section-body-text">{{  section.content  }}</div>
          </div>
        {% else %}
          <!-- {{ section.first_image }} -->
          <div class="section-text-container">
            <h4 class="section-text-header red">{{ section.title }}</h4>
            <div class="section-body-text">{{  section.content  }}</div>
          </div>
          <img class="first-image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=700x500&w=700&h=500">
        {% endif %}
        </div>
  </div>
</div>
{% endfor %}

<!-- footer -->
<div class="section white">
  <div class="footer">
      <div class="container footer-header">
          <a href="/"><img class="image_scaler_section" src="./assets/imgs/home_risoink.png" alt="footer image"></a>
          <i class="material-icons red">menu</i>
      </div>
      <div class="footer-body"><p>
          "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
          </p>
      </div>
  </div>
</div>