---
layout: default
---
{% assign sections = site.sections | sort: 'value' %}

 <div class="section">
   <h1 class="dark-blue">everything tells a story</h1>
   {% for section in sections %}
     <a href="#" class="item" data-src={{ section.value }}><img class="image_scaler_home" src={{ section.image }} ></a>
   {% endfor %}
 </div>

{% for section in sections %}
  {% if section.image-orientation == 'left' %}
  <div class="section purple">
  {% else %}
  <div class="section yellow">
   {% endif %}
  <div class="slide">

    <div class="container section-header">
      <a href="/"><img class="image_scaler_section" src={{ section.image }} alt={{ section.value }}></a>
      {% if section.image-orientation == 'left' %}
        <i class="material-icons light-blue">menu</i>
      {% else %}
        <i class="material-icons red">menu</i>
      {% endif %}
    </div>

    <div class="section-body-container">

    {% if section.image-orientation == 'left' %}
      <img class="first-image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=700x500&w=700&h=500">
      <!-- {{ section.first_image }} -->
      <div class="section-text-container">
        <h4 class="section-text-header light-blue">{{ section.title }}</h4>
        <div class="section-body-text">{{  section.content  }}</div>
      </div>
    {% else %}
      <!-- {{ section.first_image }} -->
      <div class="section-text-container">
        <h4 class="section-text-header red">{{ section.title }}</h4>
        <div class="section-body-text">{{  section.content  }}</div>
      </div>
      <img class="first-image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=700x500&w=700&h=500">
    {% endif %}


    </div>

  </div>
</div>
{% endfor %}