<div class="section">
  <div class="slide">
    <h2 class="punk_orange">SKETCHBOOK</h2>

    <div class="flex">
      <div class="left">
        <img src="./assets/imgs/sections/section2/pen.png" alt="section2" class="section-image">
      </div>

      <div class="right">
        <p>Lorem ipsum dolor sit amet, ei tacimates postulant qui, pro integre iudicabit suscipiantur ne, ne ponderum pericula vix. Accusam prodesset neglegentur ius eu. At prompta adipiscing sit. Et ius utroque deterruisset, persius denique vix cu. Eu tollit volumus cotidieque has, error movet no mel.</p>

        <p>Ea enim iriure ponderum ius, cu cibo simul sit. In quo saepe omnesque. Menandri perpetua gloriatur cu vel. In ornatus honestatis cum, his ne zril ocurreret, ea vim tale affert utinam. Has adhuc voluptua cu.</p>

        <p>Vix at nibh nonumes facilis. His nonumy nonumes suscipiantur ei, et aeque maiorum convenire mei. Qui eu errem voluptatibus. No bonorum detraxit vim, cu mel erant populo iuvaret, pri ut movet aliquid tincidunt.</p>

        <p>Ne quas senserit comprehensam sed. Usu no doctus diceret moderatius, nulla tractatos cu has. Suas prompta mandamus nam ne, eum in odio mandamus suscipiantur. Et epicurei inimicus has, aperiam impedit in est, hinc quot disputationi no pri. Ei lorem civibus pro, ne eros postea pri.</p>

        <p>Ex mei animal meliore, est suas quodsi evertitur id. Minim oratio dolores has in, maiorum expetendis eu ius. Est te blandit adolescens, ridens antiopam cum no. Delenit similique temporibus te sed. Eos ne eros aliquando suscipiantur, no graeci delicata eos, sed no vivendum dissentiet. Eripuit nominavi perfecto eu mea. Sea ei illud gloriatur, iudico mucius comprehensam ius ut.</p>

        <p>Viris adolescens vim ne, eu mea quando luptatum prodesset. Eam assum tacimates ex. Et dicunt maluisset liberavisse mea, est in rebum brute apeirian. Ex quo novum facilis, cu quo odio patrioque consectetuer.</p>
      </div>
    </div>

  </div>

  <div class="slide">
    <img src="./assets/imgs/sections/section2/pic1.jpg" alt="pic1">
  </div>
  <div class="slide">
    <img src="./assets/imgs/sections/section2/pic2.jpg" alt="pic2">
  </div>
  <div class="slide">
    <img src="./assets/imgs/sections/section2/pic3.jpg" alt="pic3">
  </div>
  <div class="slide">
    <img src="./assets/imgs/sections/section2/pic4.jpg" alt="pic4">
  </div>
</div>