<div class="section">
  <!-- <h1>Kendell Harbin</h1> -->
  <a href="#" class="item" data-src=1><img src='assets/imgs/home/badge_home.png' ></a>
  <a href="#" class="item" data-src=2><img src='assets/imgs/home/wrench_home.png' ></a>
  <a href="#" class="item" data-src=3><img src='assets/imgs/home/clamp_home.png' ></a>
  <a href="#" class="item" data-src=4><img src='assets/imgs/home/externalmemory_home.png' ></a>
  <a href="#" class="item" data-src=5><img src='assets/imgs/home/rubonletters_home.png' ></a>
  <a href="#" class="item" data-src=6><img src='assets/imgs/home/yesbutton_home.png' ></a>
</div>