<div class="section">
  <h1>Kendell Harbin</h1>
  <a href="#" class="item" data-src=1><img src='assets/imgs/home/badge.png' ></a>
  <a href="#" class="item" data-src=2><img src='assets/imgs/home/wrench.png' ></a>
<!--   <a href="#" class="item" data-src=4><img src='assets/imgs/home/tape.png' ></a>
  <a href="#" class="item" data-src=5><img src='assets/imgs/home/whistle.png' ></a>
  <a href="#" class="item" data-src=6><img src='assets/imgs/home/postit.png' ></a>
  <a href="#" class="item" data-src=7><img src='assets/imgs/home/ruler.png' ></a> -->
</div>