<div class="section">
<div class="slide">
  <h2 class="punk_light_blue">2 Mile, 2 Hour</h2>
  <div class="flex">
    <div class="left">
      <img src="./assets/imgs/intros/tape2.png" alt="section3">
    </div>

    <div class="right">
      <p>Fred and I proposed to host a workshop at the PLUG Projects book fair.</p>

      <p>"In a 2 hour workshop, participants will create a site-specific booklet, learning everything from pre-production to distribution of the final product. Beginning in the gallery with a basic run down of Risograph printing, students will gain an understanding of page layout, printing possibilities, and content development. After a quick dip in the think tank, we’ll surface elsewhere to collect information with which to fill our booklets. Like brave explorers, we will march into the streets and seek out unseen details. This may take the form of poems, doodles, drawings, rubbings, field notes, etc. When our adventure concludes, we’ll retire to the cozy corners of Plug to ask the inevitable: What do we do with what we’ve done?
      *All participants will leave with an original book of joint creation.”</p>

      <p>Naturally, our Risograph broke the day before, so we had to devise a new innovation. The day turned into an impossible game of zine creation where folks were put into ‘scribe’ and ‘dictator’ duos. The scribe had to move the tools, but could not speak. The dictator could touch no tools, only make demands of what to draw. Fred and I ran around the west bottoms and tagged the pairs, which prompted them to reverse their rolls. I can’t say what happened is what I had in mind, but supposedly working with a handicap stimulates next-level creative solutions.</p>
    </div>
  </div>
</div>


 <div class="slide">
  <img src="./assets/imgs/sections/section3/pic1.png" alt="pic1">
</div>
<div class="slide">
  <img src="./assets/imgs/sections/section3/pic2.jpg" alt="pic2">
</div>
<div class="slide">
  <img src="./assets/imgs/sections/section3/pic3.jpg" alt="pic3">
</div>

</div>