---
# empty front matter
---
/* ------------------------ text styles ------------------------------------- */

p {
	font-size: 200%;
	text-align: left;
	text-indent: 0%;
  margin-bottom: 2%;
  line-height: 130%;
}

.bold {
  font-weight: 2000;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.section-body-text {
  text-align: left;
  padding-top: 4vw;
  padding-left: .3vw;
  font-size: 10px;
  font-family: ubuntu;
  font-weight: 400;
  line-height: 14px;
  width: 100%;
}

.section-text-header {
  text-align: left;
  border-bottom: .2vw solid;
  font-size: 1.7vw;
  font-family: 'Eczar';
  font-weight: 700;
  padding-left: .2vw;
  padding-bottom: 1vw;
}



span.home-text  {
  font-size: 2vw;
  font-weight: 600;
  font-family: 'Eczar';
  z-index: 100000000;
  top: 85%;
  left: 75%;
  position: absolute;
}


/*------------------------ colors and backgrounds ----------------------------- */

{% for color in site.colors %}
.{{ color.name }} {
  color: {{ color.hex }};
}
{% endfor %}

{% for color in site.colors %}
.background-{{color.name}} {
  background-color: {{ color.hex }};
}
{% endfor %}

{% for color in site.colors %}
.{{color.name}}-stripe-background {
  background: repeating-linear-gradient(
  to right,
  #B3B3B3,
  #B3B3B3 .03%,
  {{ color.hex }} .03%,
  {{ color.hex }} 16.66% );
}
{% endfor %}


/* ----------------- Use these to size images -------------------------------- */

.image_scaler_home {
  height: auto;
  width: auto;
  max-width: 10vw;
  max-height: 10vw;
 }
.image_scaler_section {
    height: auto;
    width: auto;
    max-width: 5vw;
    max-height: 5vw;
    padding-right: 2vw;
}

/* ---------------------------- section styles --------------------------------- */

.flex {
  display: flex;
  width: 100%;
}

.section-header {
  position: relative;
  top: -5vw;
}

div.slide .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 30px;
  margin-left: 30px;

}

.section-body-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-text-container {
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.first-image {
  width: 50%;
  }

.vert-centered {
  top: 50%;
}

span.filler {
  flex-basis: 90%;
}

span.return {
  width:9vw;
  font-family: ubuntu;
  font-weight: 700;
  font-size: 10px;
}

div span.section-title {
  position: absolute;
  top: 90%;
  right: 70%;
  -webkit-transform: rotate(-30deg);
}

/* -------------------------- footer styles ------------------------ */
.footer {
  height:25px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #FC3044;
  text-align: bottom;
}

.footer-header {
  position:relative;
  top: -700px;
}

.footer-body {
  position:relative;
  top: -700px;
  padding-left: 200px;
  text-align: center;

}

/* ----------------------- arrows -----------------------------------*/
.fp-controlArrow {
    position: relative;
    z-index: 40000000;
    /*width: 1vw;*/
    /*height: .15vw;*/
    top: 50%;


    width: 0;
    height: 0;
    margin-top:-20px;
    margin-left: -20px;

    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #4679BD;
}

.fp-controlArrow.fp-prev {
   position: relative;
   background: orange;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  right: -3%;
  top: -50%;
}


.fp-controlArrow.fp-next {
  position: relative;
  right: -95%;
  top: -50%;}

