---
# empty front matter
---
/* ------------------------ text styles ------------------------------------- */

body {
  font-family: 'EB Garamond', serif;
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
}

p {
	font-size: 200%;
	text-align: left;
	text-indent: 0%;
  margin-bottom: 2%;
  line-height: 130%;
}

.bold {
  font-weight: 2000;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.section-body-text {
  text-align: left;
  font-size: 1vw;
}

.section-text-header {
  text-align: left;
  text-decoration: underline;
  padding-bottom: 60px;
}

span.section-text-header {
  font-size: 500%;
}

span.home-text  {
  font-size: 2vw;
  font-weight: 600;
  font-family: 'Eczar';
  z-index: 100000000;
  top: 85%;
  left: 75%;
  position: absolute;
}


/*------------------------ colors and backgrounds ----------------------------- */

{% for color in site.colors %}
.{{ color.name }} {
  color: {{ color.hex }};
}
{% endfor %}

{% for color in site.colors %}
.background-{{color.name}} {
  background-color: {{ color.hex }};
}
{% endfor %}

{% for color in site.colors %}
.{{color.name}}-stripe-background {
  background: repeating-linear-gradient(
  to right,
  #B3B3B3,
  #B3B3B3 .1%,
  {{ color.hex }} .1%,
  {{ color.hex }} 16.66% );
}
{% endfor %}


/* ----------------- Use these to size images -------------------------------- */

.image_scaler_home {
  height: auto;
  width: auto;
  max-width: 10vw;
  max-height: 10vw;
 }
.image_scaler_section {
    height: auto;
    width: auto;
    max-width: 5vw;
    max-height: 5vw;
}

/* ---------------------------- section styles --------------------------------- */

.flex {
  display: flex;
  width: 100%;
}

.section-header {
  position:relative;
  top: -80px;
}

div.slide .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 30px;
  margin-left: 30px;
  top: -30px;
}

.section-body-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-text-container {
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.first-image {
  width: 50%;
  }

  .vert-centered {
  top: 50%;
}

/* -------------------------- footer styles ------------------------ */
.footer {
  height:25px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #FC3044;
  text-align: bottom;
}

.footer-header {
  position:relative;
  top: -700px;
}

.footer-body {
  position:relative;
  top: -700px;
  padding-left: 200px;
  text-align: center;

}

/* ----------------------- arrows -----------------------------------*/
.fp-controlArrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 4;
    top: 92%;
    cursor: pointer;
    width: 150px;
    height: 100px;
    margin-top: -38px;
}

.fp-controlArrow.fp-prev {
    background: url(/assets/imgs/arrow-left.png);
    background-repeat: no-repeat;
    left: 25px;
}

.fp-controlArrow.fp-next {
    background: url(/assets/imgs/arrow-right.png);
    background-repeat: no-repeat;
    right: 25px;
}






#hamburger-icon {
  position: fixed;
  top: 28px;
  left: 25px;
  height: 27px;
  width: 50px;
  cursor: pointer;
  display: block;
  transition: all 1s cubic-bezier(.19, 1, .22, 1)

}

#hamburger-icon .line {

  position: absolute;
  display: block;
  background: #fff;
  width: 22px;
  height: 2px;
  left: 0;
  transition: all 0.6s cubic-bezier(.5, .1, 0, 1.2);
  -webkit-transition: all 0.6s cubic-bezier(.5, .1, 0, 1.2);
  -moz-transition: all 0.6s cubic-bezier(.5, .1, 0, 1.2);
  }

  .right {
    padding-left: 16.66%;
    padding-right: 8.33%;
  }

  .left {
    padding-left: 8.33%;
    padding-right: 8.33%;
  }