@CHARSET "ISO-8859-1";
/* Custom CSS * --------------------------------------- */
body {
	font-family: 'EB Garamond', serif;
	background-color: white;
	margin: 0px;
    padding: 0px;
    font-size: 62.5%;
}
h1 {
	font-size: 800%;
	font-family: 'Quicksand', sans-serif;
}
h2 {
	font-size: 700%;
	font-family: 'Quicksand', sans-serif;
	color: #1400FF;
}
h3 {
  font-size: 600%;
  font-family: 'Quicksand', sans-serif;
  color: #1400FF;
}
h4 {
  font-size: 500%;
  font-family: 'Quicksand', sans-serif;
}
p {
	font-size: 200%;
	text-align: left;
	text-indent: 0%;
    margin-bottom: 2%;
    line-height: 130%;}

li {
	font-size: 170%;
    line-height: -100%;}


.yellow {
  background-color: #F8F586;
}
.purple {
  background-color: #6D47D0;
}
.section h1 {
	font-size: 300%;
	font-family: 'Quicksand', sans-serif;
	z-index: 100000000;
}

.item {
    position: absolute;
 }

.footer {
    padding: 48px 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
   /* background-color: black;*/
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-size: 80%;
}

a {
    color: inherit;
}
.verticalline {
    border-left: 1px solid black;
}

.flex {
  display: flex;
  width: 100%;
}

.object {
    position: absolute;
	left: 20px;
	top: 20px;
}

div.section h1 {
  top: 85%;
  left: 75%;
  position: absolute;
}

.fp-controlArrow.fp-prev {
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:25px;
    height:25px;
    transform: rotate(135deg);
}
.fp-controlArrow.fp-next{
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:25px;
    height:25px;
    transform: rotate(-45deg);
}

.image_scaler_home {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}
.image_scaler_section {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

.upper_left {
    position: absolute;
    left: 20px;
    top: 20px;
}

.top_bar {
    top: 20px;
}


/*.vertically_centered {
  display: inline-block;
  vertical-align: middle;
}*/

.section_text_position {
    float: right;
}
/*.first-image {
    height: auto;
    width: auto;
    max-height: 400px;
}*/

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.section-header {
  position:relative;
  top: -80px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section-body-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-body-text{
  width: 600px;
  /*padding: 10px 15px;*/
  text-align: left;
  font-size: 16px;
}
.section-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
}

.red {
  color: #FF263B;
}

.light-blue {
  color: #A9F3FB;
}
.dark-blue {
  color: #0F2BEA;
}

.section-text-header {
  text-align: left;
  text-decoration: underline;
  padding-bottom: 60px;
}

.yellow {
  /*background-color: #F8F586;*/
  background: repeating-linear-gradient(
  to right,
  #F8F586,
  #F8F586 220px,
  #C8C7A4 220px,
  #C8C7A4 221px
);
}
.purple {
  /*background-color: #6D47D0;*/
  background: repeating-linear-gradient(
  to right,
  #6D47D0,
  #6D47D0 220px,
  #8F7CC1 220px,
  #8F7CC1 221px
);
}
