<!doctype html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="author" content="STAX Ventures" />
    <meta name="google-site-verification" content="" />
    <meta name="description" content="Michael Dijkstra designs interfaces and writes code to build digital products.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=10.0,initial-scale=1.0" />
    <meta name="author" content="Kendell Harbin">
    <meta name="Copyright" content="Copyright Kendell Harbin 2016. All Rights Reserved.">
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div class="wrapper">
    {{ content }}
  </div>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/footnoted.min.js"></script>
  <script type="text/javascript" src="/assets/js/scripts.js"></script>
</body>
</html>
